a {
  text-decoration: none;
  color: $header-color;

  &:visited {
      color: $header-color;
	  text-decoration: underline;
  }

  &:hover {
      color: $header-color;
      text-decoration: underline;
  }

}

/* Buttons, forms and input */

input, textarea {
  border: 1px solid $color-text;

  &:focus {
      border: 1px solid $color-blossom;
  }
}

textarea {
  width: 100%;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  background-color: $color-blossom;
  color: $color-bg;
  border-radius: 1px;
  border: 1px solid $color-blossom;
  cursor: pointer;
  box-sizing: border-box;

  &[disabled] {
      cursor: default;
      opacity: .5;
  }

  &:focus:enabled, &:hover:enabled {
      background-color: $color-fade;
      border-color: $color-fade;
      color: $color-bg;
      outline: 0;
  }
}

textarea, select, input {
  color: $color-text;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: $color-bg-alt;
  border: 1px solid $color-bg-alt;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;

  &:focus {
      border: 1px solid $color-blossom;
      outline: 0;
  }
}

input[type="checkbox"]:focus {
  outline: 1px dotted $color-blossom;
}

label, legend, fieldset {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}